nb-layout-column{
    height: 100%;
    display: grid;
    place-items: center;
}

nb-card{
    display: inherit;
}

nb-card-header{
    text-align: center;
}

nb-card-body{
    height: 100%;
    display: grid;
    place-items: center;
}

.go-form{
    display: grid;
    /* grid-auto-flow: row; */
    grid-template-rows: 2fr 2fr 1fr;
    gap: 1rem;
    place-items: center;
}

.go-form-row{
    display: inherit;
    /* grid-template-rows: 0.5fr 1fr 0.5fr; */
    width: 20rem;
}

label {
    font-family: 'Open Sans, sans-serif';
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.submit-button{
    justify-self: center;
}

.login-error{
    color:red;
}

.show-error{
    display: block;
}