.main-site-container{
    max-width: 70vw;

    display: grid;
    margin: 0 auto;

    gap:2rem;

    padding-bottom:10rem;
}

.component-container{
    max-width: 100%;
}

@media screen and (max-width:1024px){
    .main-site-container{
        max-width: none;
        margin:0 2rem
    }
}

@media screen and (max-width:768px){
    
}

@media screen and (max-width:540px){
    .main-site-container{
        margin:0 1rem
    }
}

