:host{
    max-width: 100%;
}

.component-container{
    max-width: 100%;
    display: grid;
    place-items: center;
    gap:3rem;
}

.grid-holder{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

}

.grid-item{
    display: grid;
    
    grid-template-columns: 2fr 0.2fr 1fr;
    gap:0.5rem;
}

.image-holder img{
    max-width: 5rem;
    max-height: 5rem;
    justify-self: center;
}

.doc-heading{
    padding: 0;
    margin: 0;
}

.doc-heading span{
    padding: 0;
    margin:0;
}

.heading-date{
    color: var(--blue);
}

.more-button{
    color: var(--blue);
    width: 8rem;
    border: 1px solid var(--blue);
    border-radius: 6px;
}

.more-button:hover{
    cursor: pointer;
    background-color: var(--blue);
    color: #f0f0f0;
}


@media screen and (max-width:1024px){
    .grid-holder{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width:768px){
    
}

@media screen and (max-width:540px){
    .grid-holder{
        grid-template-columns: unset;
        grid-auto-flow: row;
    }
}


