<nb-card *ngIf="posters">
    <nb-card-header>
      <h5>Upload - Index</h5>
    </nb-card-header>
    <nb-card-body>
      <table mat-table [dataSource]="posterDatasource">
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let poster">{{poster.title}}</td>
        </ng-container>
        <ng-container matColumnDef="uploadedDt">
          <th mat-header-cell *matHeaderCellDef>Uploaded</th>
          <td mat-cell *matCellDef="let poster">{{showDate(poster.dateUploaded) | date }}</td>
        </ng-container>
        <ng-container matColumnDef="releasedDt">
          <th mat-header-cell *matHeaderCellDef>Released</th>
          <td mat-cell *matCellDef="let poster">{{showDate(poster.dateReleased) | date }}</td>
        </ng-container>
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef>Image</th>
          <td mat-cell *matCellDef="let poster"><img [src]="poster.photoUrl" target="blank"></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns" class="table-row"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columns" class="table-row"></tr>
      </table>
      
    </nb-card-body>
  </nb-card>
