<div class="page-container">
    <div class="sidebar">
        <h4 class="heading">Για τη συνέλευση του Game Over</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
            molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
            numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
            optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
            obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
            nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
            tenetur error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit,
            quia. Quo neque error repudiandae fuga? Ipsa laudantium molestias eos
            sapiente officiis modi at sunt excepturi expedita sint? Sed quibusdam
            recusandae alias error harum maxime adipisci amet laborum. Perspiciatis
            minima nesciunt dolorem! Officiis iure rerum voluptates a cumque velit
            quibusdam sed amet tempora....</p>
        <button class="go-to-button" (click)="navigateTo('about')">+++</button>
    </div>
    <div class="latest-list">
        <div class="post-single" *ngFor="let post of latestPosts" >
            <div class="post-image">
                <img [src]="post.postImageUrl"  >
            </div>
            <div class="post-content">
                <h4 class="post-heading"><span class="heading-date">{{showDate(post.dateUploaded) | date }}</span> / <span class="heading-text">{{post.title}}</span></h4>
                <div class="post-text">
                    <p>{{post.text}}</p>
                </div>
                <button class="go-to-button" (click)="navigateTo('articles')">+++</button>
            </div>
        </div>
        <div class="post-single">
            <div class="post-image">
                <img src="/assets/img/Rectangle.png">
            </div>
            <div class="post-content">
                <h4 class="post-heading"><span class="heading-date">9/5/2022</span> / <span class="heading-text">Lorem ipsum dolor</span></h4>
                <div class="post-text">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                        molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                        numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                        optio, eaque rerum! Provident similique accusantium nemo autem.
                    </p>
                </div>
                <button class="go-to-button" (click)="navigateTo('articles')">+++</button>
            </div>
        </div>
        <div class="post-single">
            <div class="post-image">
                <img src="/assets/img/Rectangle.png">
            </div>
            <div class="post-content">
                <h4 class="post-heading"><span class="heading-date">9/5/2022</span> / <span class="heading-text">Lorem ipsum dolor</span></h4>
                <div class="post-text">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                        molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                        numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                        optio, eaque rerum! Provident similique accusantium nemo autem.
                    </p>
                </div>
                <button class="go-to-button" (click)="navigateTo('articles')">+++</button>
            </div>
        </div>
        
    </div>
</div>