.heading, .post-heading{
    padding:0;
    margin:0;
}

.heading{
    color: var(--blue);
}


.post-heading:hover{
    cursor: pointer;
    text-decoration: underline;
}

.heading-date{
    color: var(--blue);
}

.heading-text{
    color: #000000;    
}

.page-container{
    display: grid;
    grid-template-columns: 1.5fr 4fr;

    gap:5rem;
}

.go-to-button{
    color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 6px;
}

.go-to-button:hover{
    cursor: pointer;
    background-color: var(--blue);
    color: #f0f0f0;
}

.latest-list{
    display: grid;
    grid-auto-rows: 15rem;

    gap:2rem;
}

.post-single{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr;

    gap:1rem;
}
.post-image{
    display: grid;
    justify-items: center;
    min-height: 10rem;
}
.post-image img{
    max-width: 50%;
}

.post-content{
    display: grid;
    grid-auto-flow: row;
    gap:0.5rem;
    grid-template-rows: 0.5fr 3fr 0.5fr;
}

.post-text{
    /* max-height: 5rem; */
    overflow: hidden;
}

.post-single .go-to-button{
    width: 5rem;
    justify-self: baseline;
}

@media screen and (max-width:1024px){
    .page-container{
        grid-template-columns: unset;
        gap:2rem;
    }
    .sidebar{
        display: grid;
        order: 1;
    }

    .sidebar p{
        columns: 2;
    }

    .sidebar .go-to-button{
        justify-self: right;
    }
}

@media screen and (max-width:768px){
    
}

@media screen and (max-width:540px){
    .latest-list{
        grid-auto-rows: unset;
    }

    .sidebar p{
        columns: unset;
    }
}