    .logout-btn{
    justify-self: flex-end !important;
}


.admin-header{
    display: grid;
    grid-auto-flow: column;
    width: 100%;
}

.admin-header:first-child{
    justify-items: left;
}

.admin-header:last-child{
    justify-self: end;
    place-items: center;
}