    .logout-btn {
      justify-self: flex-end !important;
    }


    nb-layout-header nav {
        justify-content: space-between !important;
      width: 100%;
    }

    .admin-header:first-child {
      justify-items: left;
    }

    .admin-header:last-child {
      justify-self: end;
      place-items: center;
    }
