<nb-card>
  <nb-card-header>
    <h5>Upload - Posters</h5>
  </nb-card-header>
  <nb-card-body>

    <form class="go-form poster" [formGroup]="posterForm" (ngSubmit)="onFormSubmit()">
      <div class="form-top-section">
        <div class="top-section-left-side">
          <div class="go-form-row">
            <label for="document-title">Τίτλος</label>
            <input nbInput id="document-title" formControlName="title" placeholder="Βάλε τίτλο" type="text"
              autocomplete="off" />
            <span *ngIf="posterForm.get('title')?.errors && posterForm.get('title')?.dirty"
              class="validation-error-message">
              Χρειάζονται τουλάχιστον 5 γράμματα.
            </span>
          </div>
          <div class="go-form-row image-selection">
            <label for="document-image">Αφίσα</label>
            <input nbInput id="document-image" class="image-select-input" formControlName="posterUrl" type="file"
              [accept]="allowedFileTypes" (change)="getFile($event.target); showFile($event.target)" />
            <span *ngIf="posterForm.get('posterUrl')?.errors && posterForm.get('posterUrl')?.dirty"
              class="validation-error-message">
              Η εικόνα είναι απαραίτητη για το άρθρο.
            </span>
            <!-- <input nbInput id="poster-poster" formControlName="poster" type="file" (change)="pushFileToArray($event.target)"/> -->
            <!-- <input nbInput id="document-image" formControlName="posterUrl" type="text" hidden />
            <button nbButton size="small" class="select-image-btn" (click)="openFileDisplayModal($event)">ΔΙΑΛΕΞΕ ΑΦΙΣΑ</button> -->
          </div>
          <div class="go-form-row date-selection release-date">
            <label for="document-release-date">Ημερομηνία έκδοσης</label>
            <input nbInput id="document-release-date" placeholder="Βάλε ημερομηνία έκδοσης"
              [nbDatepicker]="dateReleased" formControlName="dateReleased">
            <nb-datepicker #dateReleased></nb-datepicker>
          </div>
        </div>
        <div class="top-section-right-side">
          <div class="image-container" *ngIf="selectedUrl">
            <img [src]="selectedUrl">
          </div>
        </div>
      </div>
      <div class="go-form-row text">
        <label for="document-text">Περιεχόμενο</label>
        <editor nbInput [id]="tinymceId" formControlName="text" placeholder="Βάλε το κείμενο της αφίσας"
          fieldSize="large" rows="15" fullWidth></editor>
      </div>
      <div class="go-form-row text">
        <div class="textarea-header">
          <label for="document-text">Σύνοψη</label>
          <app-char-counter [textareaElement]="synopsis"></app-char-counter>
        </div>
        <textarea nbInput #synopsis formControlName="synopsis" placeholder="Βάλε σύνοψη μέχρι 150 χαρακτήρες" maxlength="150"
          fieldSize="small" rows="2" fullWidth></textarea>
      </div>
      <button nbButton class="submit-button" placeholder="Ανέβασε την αφίσα!" type="submit">Αποθηκευση</button>
    </form>
  </nb-card-body>
</nb-card>
